# Durations must follow the format of https://golang.org/pkg/time/#ParseDuration
[database]
path = "/var/lib/dab/db.sqlite3"
cleanup_interval = "30m"

[scanner]
id = "skCmCZTiGxol8N"
secret = "8F5TxSqLlUH1-JgyMC-Q5PF"
username = "coolusername1"
password = "qwerty12345"
user_agent = "linux:dab-bot:v0.5 (by /u/coolusername1)"
# Posts older than this duration may not be saved
max_age = "48h"
# Max number of sucessive requests to a single user's comment history
max_batches = 10

[report]
# Must follows the format of https://golang.org/pkg/time/#LoadLocation
timezone = "America/Chicago"
leeway = "24h"
cutoff = -75
max_length = 40000

[discord]
token = "jvq9oSqmGhl34vQUd1nM.YU-lC.jZaAT27_0wFeHsK_FYZLocPW6"
admin = "827298191882818"
general = "288922928183292"
log = "382842384247229"
