[Unit]
Description=Reddit Downvote Arrows Counter Bot
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/rdacb/venv/bin/python /opt/rdacb/rdacb.py /etc/rdacb.ini
Restart=on-failure
